

body{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
}
.background{
    background-color: black;
}

header{
    position: fixed;
    transition: 0.5s;
    z-index: 10;
    margin-right: auto;
}

nav{
    text-align: right;
    color: #ffffff;
}

h4{
    text-align: center;
    padding: 25px 25px 25px 25px;
}

.icon1{
    color: #ffffff; 
    padding: 5px 180px 5px 180px;
    background-color: #198754;
}

.button1{
    text-decoration: none;
    outline: none;
    background-color: transparent;
}

.card-img-top2{
    width: 365px;
    height: 245px;
}

.card-img-top2a{
    width: 450px;
    height: 350px;
}

.text1{
    text-align: justify;
}

footer{
    color: #ffffff;
    background-color: #198754;
    font-size: 25px;
    padding: 20px;
}

.fa-brands{
    color: #ffffff;
    padding: 5px;
    
}